/*
Color scheme from: https://colorhunt.co/palette/eeedebe0ccbe7472643c3633
 - White: EEEDEB
 - Pink: E0CCBE
 - Light Grey: 747264
 - Dark Grey: 3C3633
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEEDEB;
    color: #3C3633;
}

/* ----- Entire display ----- */

#quiz-container {
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #E0CCBE;
    border: 2px solid #3C3633;
}

/* ----- Miscellaneous ----- */

#quiz-history-item {
    margin: 0;
    padding: 0;
}

#question-container {
    display: flex;
}

#correct-answer-container {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #3C3633;
    color: #3C3633;
}

#current-score-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#question {
    margin-top: 20px;
    height: 100px;
}

#options {
    list-style-type: none;
    padding: 0;
}

/* ----- Buttons ----- */

.flow-button {
    display: inline-block;
    padding: 8px 18px;
    font-size: 18px;
    background-color: #3C3633;
    color: #EEEDEB;
    border: 2px solid #3C3633;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.flow-button:hover {
    background-color: #747264;
}

.option-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #3C3633;
    border: 2px solid #3C3633;
    color: #EEEDEB;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #747264;
    color: #EEEDEB;
}

.option-button:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

/* After buttons are disabled make selected option obvious */
.selected-option {
    background-color: #747264;
    color: #EEEDEB;
}

/* ----- Progress bar ----- */

.progress-bar {
    width: 100%;
    background-color: #EEEDEB;
    border: 2px solid #3C3633;
    border-radius: 5px;
    margin-bottom: 10px;
}

.progress {
    width: 0%;
    height: 30px;
    background-color: #3C3633;
}
