.hero-section {
    background-color: #333;
    color: #ffffff;
}

@media screen and (min-width: 640px) {
    .hero-section {
        background-image: url(images/background-extra-small.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        background-image: url(images/background-small.jpg);
    }
}

@media screen and (min-width: 1024px) {
    .hero-section {
        background-image: url(images/background-medium.jpg);
    }
}

@media screen and (min-width: 1920px) {
    .hero-section {
        background-image: url(images/background-large.jpg);
    }
}

@media screen and (min-width: 2560px) {
    .hero-section {
        background-image: url(images/background-extra-large.jpg);
    }
}

.features-section {
    background-image: url(images/flourish.png);
    background-color: #333;
    background-position: center;
    color: #ffffff;
}

ol.reasons {
    display: inline-block;
    text-align: left;
}

.landing_page_button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent; /* Add a transparent border initially */
    border-radius: 5px;
    color: #ffffff;
    background-color: #3498db; /* Primary color */
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.landing_page_button:hover {
    color: #ffffff;
    background-color: #3c7195; /* Primary color on hover */
    border-color: #000000; /* Darker shade as border on hover */
}